<template id="tpl-user-bubble">
    <div class="flex justify-end py-5 text-foreground">
        <div class="inline-block rounded-3xl rounded-tr-md bg-surface px-4 py-2 text-start" style="word-break: break-word;">
            <p class="leading-relaxed text-[15px]" data-message></p>
        </div>
    </div>
</template>

<template id="tpl-ai-bubble">
    <div class="py-5 text-foreground">
        <div class="prose mb-4 max-w-none prose-code:rounded-md prose-pre:rounded-2xl prose-pre:bg-surface text-sm font-mono leading-relaxed prose-a:text-primary prose-code:text-foreground prose-headings:text-foreground prose-pre:text-foreground prose-strong:text-foreground text-foreground tracking-tighter" data-output></div>
        <div data-meta class="mb-2 hidden text-xs font-mono text-foreground/50 tracking-tight"></div>
    </div>
</template>
