<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <script>
            const html = document.querySelector('html');
            const isLightOrAuto = localStorage.getItem('hs_theme') === 'light' || (localStorage.getItem('hs_theme') === 'auto' && !window.matchMedia('(prefers-color-scheme: dark)').matches);
            const isDarkOrAuto = localStorage.getItem('hs_theme') === 'dark' || (localStorage.getItem('hs_theme') === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches);

            if (isLightOrAuto && html.classList.contains('dark')) html.classList.remove('dark');
            else if (isDarkOrAuto && html.classList.contains('light')) html.classList.remove('light');
            else if (isDarkOrAuto && !html.classList.contains('dark')) html.classList.add('dark');
            else if (isLightOrAuto && !html.classList.contains('light')) html.classList.add('light');
        </script>
        <title>{% block title %}{% endblock %}</title>

        <link rel="icon" href="favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        
        {% block stylesheets %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.7.5/dist/floating-ui.core.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.7.6/dist/floating-ui.dom.umd.min.js"></script>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% if umami_script_url and umami_website_id %}
            <script defer src="{{ umami_script_url }}" data-website-id="{{ umami_website_id }}"></script>
        {% endif %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}

        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body class="bg-background">
        <twig:Layout:Header />
        {% block body %}{% endblock %}
    </body>
</html>
