{% extends 'base.html.twig' %}

{% block title %}
    Symfony AI Lab
{% endblock %}

{% block body %}
    <h1 class="font-bold text-foreground text-4xl md:text-5xl lg:text-6xl leading-[1.1]">
        Symfony <span class="text-primary">AI</span> LAB
    </h1>
{% endblock %}
